version: "3"
services:
  app:
    restart: "always"
    build: ./app
    ports:
      - "3001:3000"
    depends_on:
      - "postgres"
  postgres:
    image: "postgres"
    environment:
      POSTGRES_PASSWORD: "mypass"
      POSTGRES_USER: "nero"
      POSTGRES_DB: "test"
    volumes: 
      - ./postgres/db.sql:/docker-entrypoint-initdb.d/db.sql
    ports:
      - "5432:5432"
  # pgadmin:
  #   image: "dpage/pgadmin4"
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: "nerocube.tw@gmail.com"
  #     PGADMIN_DEFAULT_PASSWORD: "mypass"
  #   links:
  #     - postgres
  #   ports:
  #     - "5050:80"
    